.experience-section {
    padding: 3rem;
}

.experience-card {
    background: #112240;
    padding: 2rem 2.3rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    color: #ccd6f6;
    line-height: 1.6;
}

.experience-card h3 {
    color: #64ffda;
    margin-bottom: 1rem;
}

.exp-section-title {
    font-size: 2rem;
    color: #ccd6f6;
    margin-bottom: 1rem;
}

.abt-section-title{
    font-size: 2rem;
    color: #ccd6f6;
}

.about-section {
    padding: 3rem;
    color: #ccd6f6;
    line-height: 1.8;
}

.about-section h3 {
    color: #64ffda;
    margin-top: 1.5rem;
}



.skills-section {
    padding: 3rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.skill-box {
    background: #112240;
    padding: 1.5rem;
    border-radius: 10px;
    color: #ccd6f6;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.skill-box:hover {
    transform: scale(1.01);
}

.skill-box h3 {
    color: #64ffda;
    margin-bottom: 1rem;
}

.skill-box ul {
    list-style: none;
    padding: 0;
}

.skill-box li {
    margin-bottom: 0.5rem;
}

 
/* certificate css */
.certificate-container {
    margin-top: 1rem;
    text-align: center;
}

.certificate-viewer {
    width: 100%;
    max-width: 500px;
    height: 300px;
    border: 1px solid #64ffda;
    border-radius: 8px;
}

.download-btn {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background: #64ffda;
    color: #0a192f;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.download-btn:hover {
    background: #52d1b2;
}

.social-links {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    margin-bottom: -8px;
  }
  
  .social-links a {
    transition: transform 0.3s ease;
  }
  
 
.linkedin {
    color: #0077b5;  
  }
  
  .linkedin:hover {
    color: #005682;
    transform: scale(1.2);
  }
  
  /* GitHub Icon */
.github {
    color: #ccd6f6; 
  }
  
  .github:hover {
    color: #333;
    transform: scale(1.2);
  }